{
    "extends": "airbnb",
    "rules": {
        // Disable rules for Immutable.JS
        "new-cap": [2, {"capIsNewExceptions": [
            "Immutable.List",
            "Immutable.Map"
        ]}]
    }
}